@model ContactViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<div class="container-fluid">

    <h2>Contact</h2>

    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="FullName">@nameof(Model.FullName)</label>
                    <input class="form-control" placeholder="@Model.FullName" aria-label="@nameof(Model.FullName)" asp-for="FullName" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="Email">@nameof(Model.Email)</label>
                    <input class="form-control" placeholder="@Model.Email" aria-label="@nameof(Model.Email)" asp-for="Email" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="Address">@nameof(Model.Address)</label>
                    <input class="form-control" placeholder="@Model.Address" aria-label="@nameof(Model.Address)" asp-for="Address" readonly />
                </div>
            </div>
        </div>

        @foreach (var phoneViewModel in Model.Phones)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="@phoneViewModel.PhoneNumber">@phoneViewModel.PhoneType</label>
                        <input class="form-control" placeholder="phoneViewModel" aria-label="PhoneNumber" asp-for="@phoneViewModel.PhoneNumber" readonly />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-outline-dark btn-lg min-width-200" asp-controller="Contact" asp-action="Index">< Contacts</a>
            </div>
        </div>
    </div>
</div>
